APP_URL=""
DATABASE_URL=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXTAUTH_SECRET=""
CLOUD_NAME=""
NODEMAILER_HOST=127.0.0.1
NODEMAILER_PORT=2525
NODEMAILER_SECURE=null
NODEMAILER_USER=
NODEMAILER_PASSWORD=null
NEXT_PUBLIC_STREAM_KEY=""
STREAM_SECRET=""
UPLOADTHING_TOKEN=""
NEXt_PUBLIC_UPLOADTHING_SECRET=""
NEXT_PUBLIC_UPLOADTHING_APP_ID=""
TREASURY_EMAIL="treasury@email.example"
ALIAS_DOMAIN="kicbak.co"
